<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./static/honor.png" type="image/x-icon">
    <title>{{title}}</title>
</head>
<body>
    <center>
        <nav><a href="/">Home</a></nav>
        <div id="main" style="margin-top: 100px;">
            <p>
                Nowadays, maketplaces are flooded with the adulterated food items and its becoming harder and harder for people to choose healtier product fro them and their family.

                This is a lite version of Raman Spectrosopy, with the help of raman Spectrosopy we can get the signature of chemical and throught analysis of those chemical we can recoommand peoples about food quality. we are trying to achive the early detection harmful chemical present in food items trought this.

            </p>
            <div style="display: flex; margin-left:40%">
                Mail at: <a href="mailto:dhairy521@gmail.com"><img src="../static/gmail.png" alt="mail at" height="32px" width="32px"></a>
            </div>
        </div>
    </center>
</body>
</html>